<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python aplikacija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="wreper">
<div id="header"><h1>Vremenska prognoza</h1>
    <nav>
        <div class="link"><a href="/">Početna</a></div>
        <div class="link"><a href="/zagreb">Zagreb</a></div>
        <div class="link"><a href="/split">Split</a></div>
        <div class="link"><a href="/rijeka">Rijeka</a></div>
    </nav>
</div>


    {% block content %}
    {% endblock content %}


</div>
</body>
</html>