{% extends "base.html" %}

{% block content %}

    <p class="p">Gradovi:</p>
<div class="box"><center><img src="static/img/zagreb.jpg" alt="zagreb" style="width:524px; border-radius: 5px;"></center><h2><center>Vremenska prognoza o Zagrebu</center></h2></div>
<div class="box"><center><img src="static/img/split.jpg" alt="zagreb" style="width:524px; border-radius: 5px;"></center><h2><center>Vremenska prognoza o Splitu</center></h2></div>
<div class="box"><center><img src="static/img/rijeka.jpg" alt="zagreb" style="width:524px; border-radius: 5px;"></center><h2><center>Vremenska prognoza o Rijeci</center></h2></div>

{% endblock content %}